:root {
    --bgColor: #020b1a;
    --bgColor2: #021b30;
    --bgColor3: #021b30a8;
    --colorShadow: rgba(33, 46, 45, 0.575);
    --fgColor: #8db0c4;
    --fgColor2: #8db0c4;
    --fgColor3: #8db0c4;
    --bgColorShade: rgba(2, 10, 26, 1);
    --bgTextShade: rgba(107, 107, 107, 0.349);
    --error: #FF0000;
            --warning: var(--fgColor);
}
#liquidwallet #container .asset .cover{
        filter: blur(20px) grayscale(0.4) brightness(0.6);
            opacity: 0.4;
}

#liquidwallet #header .cover {
    opacity: 0.4;
}