
#liquidwallet #container.receive.stage .invoiceQr{
    padding:1rem;
    background: var(--assetColor);
        border-radius: 15px;
}

#liquidwallet #container.receive.stage .invoice{
}

#liquidwallet #container.receive.stage .invoiceQr {
    max-width: min(min(40vh, 100%),512px);

    margin-bottom: 2rem;
}