@import url("../animations.css");
:root {
    --primaryBackground: #325763;
    --secondaryBackground: rgb(36, 63, 71);
    --elementsBackground: rgba(36, 63, 71, 0.774);
    --highlightedBackground: rgba(15, 26, 29, 0.774);

    --shade: rgba(33, 46, 45, 0.575);
    --heavyShade: rgba(2, 107, 121, 1);
    --textShade: rgba(107, 107, 107, 0.349);

    --foreground: #8db0c4;
    --elementsForeground: #8db0c4;
    --headerForeground: #8db0c4;

    --error: #ff0000;
    --warning: var(--foreground);

    --outgoingTxForeground: #b76a6a;
    --incomingTxForeground: #6d8b6d;
}

#liquidwallet #container .asset .cover {
    filter: blur(20px) grayscale(0.4) brightness(0.6);
    opacity: 0.4;
}

#liquidwallet #header .cover {
    opacity: 0.4;
}
