:root {
    --primaryBackground: #f5f5f5;
    --secondaryBackground: #e0e0e0;
    --elementsBackground: #cfcfcf3a;

    --foreground: #212121;
    --elementsForeground: #212121;
    --headerForeground: #212121;
    --highlightedBackground: #cfcfcf9c;

    --shade: rgba(0, 0, 0, 0.1);
    --heavyShade: rgba(245, 245, 245, 0.9);
    --textShade: rgba(107, 107, 107, 0.7);

    --error: #ff0000;
    --warning: #ff9800;
}

#liquidwallet #logo {
    display: none;
}
