@import url("../animations.css");

:root {
    --primaryBackground: #000000;
    --secondaryBackground: #1a1a1a;
    --elementsBackground: #1a1a1ac4;
    --highlightedBackground: #212121;

    --foreground: #f7931a;
    --elementsForeground: #f7931a;
    --headerForeground: #ffffff;

    --shade: rgba(33, 33, 33, 0.575);
    --heavyShade: rgba(0, 0, 0, 1);
    --textShade: rgba(107, 107, 107, 0.349);

    --error: #ff0000;
    --warning: var(--foreground);

    --outgoingTxForeground: #b76a6a;
    --incomingTxForeground: #6d8b6d;
    --popupBackground: rgb(26, 15, 0);
}
#liquidwallet #container .asset .cover {
    filter: blur(20px) grayscale(0.4) brightness(0.6);
    opacity: 0.4;
}

#liquidwallet #header .cover {
    opacity: 0.1;
}
