#liquidwallet #container.receive.stage .invoiceQr {
    padding: 1rem;
    background: var(--elementsBackground);
    border-radius: 15px;
}

#liquidwallet #container.receive.stage .invoice {
}

#liquidwallet #container.receive.stage .invoiceQr {
    width: min(min(40vh, 100%), 300px);
    max-width: 100%;
    margin: auto;
    margin-bottom: 2rem;
}

#liquidwallet #container.receive {
    font-size: 110%;
    // max-width: 900px;
}
