#liquidwallet #container.receive.stage .invoiceQr {
    padding: 1rem;
    background: var(--elementsBackground);
    border-radius: 15px;
}

#liquidwallet #container.receive.stage .invoice {
}

#liquidwallet #container.receive.stage .invoiceQr {
    width: 100%;
    max-width: 100%;
    margin: auto;
    flex-shrink: 1;
}

#liquidwallet #container.receive {
    font-size: 110%;
    // max-width: 900px;
}
#liquidwallet #container.receive > div:first-child {
    width: min(min(40vh, 100%), 512px);
}
