@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300;400&display=swap');

:root {
    --colorConfirmed: #D8F4EF;
    /* Light Blue */
    --colorPending: rgba(208, 236, 236, 0.575);
    /* Pastel Turquoise */
    --colorShadow: rgba(120, 139, 138, 0.575);
    /* Dark Blue */
    --bgColor: #F0FDFA;
    /* Very Light Blue */
    --fgColor: #212121;
    /* Ocean Green */
    --assetColor: rgba(2, 107, 121, 0.568);

}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    min-width: 0 !important;
    font-family: 'Lato', sans-serif;
    position: relative;
    overflow: hidden;
    flex-shrink: 1;
    word-wrap: break-word;
}

body,
html {
    height: 100%;
    width: 100%;
    max-width: 100%;
    min-width: 100%;
    padding: 0rem;
    overflow-y: auto;

}

body {
    background: var(--bgColor);
    color: var(--fgColor);
    font-size: 1.1rem;
}

#liquidwallet {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: stretch;
    min-height: 100%;
    width: 100%;
    overflow-y: auto;
}

#liquidwallet .material-symbols-outlined {
    font-size: inherit;
}


/**
*   An element that normally is not clickable
*/

#liquidwallet .disablePointerEvents {
    pointer-events: none;
}

/**
*   An element that becomes clickable
*/
#liquidwallet .disablePointerEvents.clickable {
    pointer-events: auto;
}


/**
*   The header
*/
#liquidwallet #header {
    width: 100%;
    background-color: var(--assetColor);
    font-size: 2rem;
    padding: 1rem;
    padding-right: 1rem;
    padding-left: 1rem;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    font-size: 2rem !important;


}

#liquidwallet #header>*:first-child{
    margin-right:2rem;
}

/**
*   The last icon
*/
#liquidwallet #header>*:last-child {
    margin-left: auto;   
}

/**
* The main container
*/
#liquidwallet #container {
    display: flex;
    flex-direction: column;
    padding: 0.2rem;
    margin-bottom: auto;
    margin-top:2rem;
}

#liquidwallet #container.h{
    flex-direction: row;

}



/**
*   An icon
*/

#liquidwallet #container .iconCnt.big .icon {
    max-width: 3rem;
    font-size:3rem;
}

/**
*   A button
*/
#liquidwallet #container button {
    box-shadow: 2px 5px 2px rgba(0, 0, 0, 0.3);
    border-radius: 14px;
    border: none;
    background-color: var(--assetColor);
    color: var(--bgColor);
    font-weight: bold;
    font-size: 1rem;
    text-align: center;
    cursor: pointer;
    padding: 1rem;
        text-align: center;
        align-items: center;
        justify-content: center;
}

#liquidwallet #container button.small{
    box-shadow:none;
    border-radius:8px;
    padding:0.4rem;
    padding-left:1rem;
    padding-right:1rem;
    font-size:0.8rem;
}

/**
*   A list of buttons that fill their parent horizontally
*/
#liquidwallet #container .buttons.fill {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    padding: 0.6rem;
    filter: drop-shadow(1px 20px 18px rgba(0, 0, 0, 0.3));
}

/**
*   A button with an icon
*/
#liquidwallet #container button.withIcon {
    display: flex;
    flex-direction: column;
    margin: 0.3rem;
    padding: 1rem !important;
}

/**
*   The icon of a button with an icon
*/
#liquidwallet #container button.withIcon .icon {
    margin-bottom: 0rem;
    font-size: 3rem;
}



/**
*   A text that is too long
*/
#liquidwallet .toolong {
    display: inline-block;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}

/**
*   A semitransparent cover that blends in the background
*/
#liquidwallet #container .cover {
    width: 100%;
    height: 100%;
    position: absolute;
    pointer-events: none;
    background-repeat: no-repeat;
    background-size: 140%;
    background-position: 120% center;
    filter: blur(40px);
    opacity: 0.8;
}

/**
*   A list of items
*/
#liquidwallet #container .list {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;

}

/**
*   An horizontal list
*/
#liquidwallet #container .list.h {
    justify-content: center;
    align-items: center;
    flex-direction: row;
}



/**
*   A list with a scroller
*/
#liquidwallet #container .list.outscroll{
    flex-wrap: nowrap;
        flex-shrink: 0;
}

/**
*   An item of a list with a scroller
*/
#liquidwallet #container .list.outscroll > *{
    flex-shrink: 0;
}

/**
*   An horizontal list with a scroller that needs to scroll
*/
#liquidwallet #container .list.h.outscroll.outside {
    justify-content: flex-start;
}

/**
*   An horizontal list with a scroller
*/

#liquidwallet #container .list.h.outscroll{
        overflow-x: auto;
        overflow-y: hidden;
}

/**
*   A vertical list
*/
#liquidwallet #container .list.v {
    max-width: 100%;
    /* width:100%; */
    min-width: 100%;
        justify-content: center;
            align-items: center;
}

/**
*   A vertical list with a scroller
*/
#liquidwallet #container .list.v.outscroll{
        overflow-y: auto;
                overflow-y: hidden;
}



/**
*   A main list of items
*/
#liquidwallet #container .list.main{
    padding-top:1rem;
        padding-bottom: 1rem;
    padding-left:0.6rem;
    padding-right:0.6rem;

}

/**
*   An item of a list
*/
#liquidwallet #container .list>* {
    /* display: flex; */
        align-items: stretch;
    /* padding:0; */
    margin:0.2rem;
    
}

/**
*   An item of a vertical list
*/
#liquidwallet #container .list.v > * {
   
}

/**
*   An item of a main list 
*   (Adds some extra styling to make it standout)
*/
#liquidwallet #container .list.main>* {
    border-radius: 14px;
    box-shadow: 2px 5px 2px rgba(0, 0, 0, 0.3);
    margin:0.3rem;
    padding:0.6rem;
    
}



/* Alignments */
#liquidwallet #container .list.h.left,
#liquidwallet #container .list.h.left>* {
    justify-content: flex-start;

}

#liquidwallet #container .list.v.left,
#liquidwallet #container .list.v.left > * {
    align-items: flex-start;
}

.left{
    text-align: left;
}

.center{
    text-align: center;
    justify-content: center;
    align-items: center;
}

.right{
    text-align: right;
}

.fillw{
   min-width:100%;
    flex-wrap: nowrap;
    display: flex;
        
}

#liquidwallet #container .list.fillw>*{
    flex-shrink: 0;
    flex-grow:1;
}

#liquidwallet #container .list.h.fillw{
    /* flex-direction: row; */
        
        justify-content: stretch;
        /* justify-content: stretch; */
}

#liquidwallet #container .list.v.fillw{
    /* flex-direction: column; */
        /* align-items: stretch; */
        align-items: stretch;

}

#liquidwallet #container .buttons {
    /* padding: 0.6rem; */
    filter: drop-shadow(1px 20px 18px rgba(0, 0, 0, 0.3));
}

 
select,
input {
    padding: 1rem !important;
    background-color: var(--assetColor);
    color: var(--fgColor);
    border-radius: 14px;
    text-align: center;
    font-weight: bold;
    border:none;
    margin:1rem;
    box-shadow: 0px -2px 2px rgba(0, 0, 0, 0.3);
}





.sub,.small{
    font-size:0.8rem;
}

.sub{
    font-style: italic;
}

.smaller {
    font-size: 0.5rem;
}

.title{
    font-weight: bold;
    font-size:1.2rem;
}

.titleBig{
    font-weight: bold;
        font-size: 5rem;
}

/**
*   An icon container
*/
#liquidwallet .iconCnt {
    display: flex;
    align-items: center;
    justify-content: center;
}

#liquidwallet h1 {
    font-weight: bold;
    text-shadow: 0px -2px 1px var(--colorShadow);
    font-size:1.6rem;
    text-align: center;
    width: 100%;
    text-transform: uppercase;
    padding:2rem;
    padding-bottom:1rem;
    color:var(--assetColor);
}